---
title: Look and Paws Blog | Petwear Fashion Blog Posts
layout: blog-home-layout
---

{% include navbar.html %}

<div class="container">

    <div class="row">
      <div class="col-md-6 col-12 mx-auto mb-3">
        <a href="{{ site.blogHomePageUrl }}">
          <img src="{{ site.blogLogoLong }}" alt="Look and Paws Blog" class="centerAnImageBlogHome">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-12 mx-auto">
        {% include blog-post-summary-two.html %}
      </div>
      <div class="col-md-4 col-12 mx-auto">
        {% include blog-post-summary-one.html %}
      </div>
    </div>
  
  </div>

  {% include footer-blog-page.html %}
