---
title: Look and Paws | Sassy Petwear Shipped Worldwide
layout: default
---

{% include navbar.html %}

<div class="background-image-desktop d-none d-md-block">
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-6 col-10">
        <a href="/">
          <img src="{{ site.logoLong }}" alt="Look and Paws" class="lookAndPawsLogoLongDesktop centerAnImage">
        </a>
        <p class="brand-slogan-desktop mx-auto text-center">{{ site.slogan }}</p>
        <p id="countdownTimerDesktop" class="countdownTimerDesktop mx-auto">Launching in... </p>
        {% include social-media-buttons.html %}
        <!-- {% include blog-button.html %} -->
      </div>  
    </div>
  </main>
</div>

<div class="background-image-mobile d-block d-md-none">
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-6 col-10">
        <a href="/">
          <img src="{{ site.logoLong }}" alt="Look and Paws" class="lookAndPawsLogoLongMobile centerAnImage">
        </a>
        <p class="brand-slogan-mobile mx-auto text-center">{{ site.slogan }}</p>
        <p id="countdownTimerMobile" class="countdownTimerMobile mx-auto">Launching in... </p>
        {% include social-media-buttons.html %}
        <!-- {% include blog-button.html %} -->
      </div>  
    </div>
  </main>
</div>

{% include footer-home-page.html %}

