<div class="card mb-4">
  <img class="card-img-top" src="{{ site.blogLandscapeImageTwo }}" alt="{{ site.blogTitleTwo }} by {{ site.blogAuthoredByTwo }}">
  <div class="card-body">
    <h2 class="card-title blogHomeBlogPostTitle">{{ site.blogTitleTwo }}</h2>
    <p class="card-text blogHomeBlogPostDescription">{{ site.blogDescriptionTwo }}</p>
    <a href="{{ site.blogUrlTwo }}" class="btn btn-primary blogHomeBlogPostReadMoreButton">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted blogHomeBlogPostWhenAndWho">
    Posted on <b>{{ site.blogPostedDateTwo }}</b> by <i>{{ site.blogAuthoredByTwo }}</i>
  </div>
</div>