<a href="{{ site.blogUrlTwo }}">
  <div class="card mb-4">
    <img class="card-img-top" src="{{ site.blogLandscapeImageTwo }}" alt="{{ site.blogTitleTwo }} by {{ site.blogAuthoredByTwo }}">
    <div class="card-body">
      <h2 class="card-title blogHomeBlogPostTitle">{{ site.blogTitleTwo }}</h2>
      <p class="card-text blogHomeBlogPostDescription">{{ site.blogDescriptionTwo }}</p>
    </div>
    <div class="card-footer text-muted blogHomeBlogPostWhenAndWho">
      Posted on <b>{{ site.blogPostedDateTwo }}</b>
      <br/>
      by <i>{{ site.blogAuthoredByTwo }}</i>
    </div>
  </div>
</a>