<div class="d-none d-md-block">
    <div class="container-footer">
        <span class="shipping float-left"><i class="fa fa-globe" aria-hidden="true"></i> Petwear shipped worldwide</span>
        <span class="copyright float-right">© {{site.title}} {{site.time | date:'%Y'}}</span>
    </div>
</div>
  
<div class="d-block d-md-none">
    <div class="container-footer">
        <span class="shipping footerShippingCopyrightMobile float-left"><i class="fa fa-globe" aria-hidden="true"></i>  Shipped worldwide</span>
        <span class="copyright footerShippingCopyrightMobile float-right">© {{site.title}} {{site.time | date:'%Y'}}</span>
    </div>
</div>
  