<nav class="navbar navbarStyle">
  <a class="navbar-brand" href="/">
    <div class="d-none d-md-block">
      <img src="{{ site.logoLong }}" height="50" alt="{{ site.title }}" alt="Look and Paws">
    </div>
    <div class="d-block d-md-none">
      <img src="{{ site.logoLong }}" height="30" alt="{{ site.title }}" alt="Look and Paws">
    </div>
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link navbarLinkButton" href="{{ site.etsyStoreUrl }}" title="Look and Paws Etsy">Visit Our Etsy Store</a>
    </li>
  </ul>
</nav>