<script type="text/javascript">
    $(document).ready(function(){
        $("[name=measurementTypeRadioButton]").click(function()  {
            var chosenMeasurementValue = $(this).val();
            
            var measurementTypeLabel = "You're measuring using " + chosenMeasurementValue;

            $("#measurementTypeLabel").text(measurementTypeLabel);

            var measurementSelectList = document.getElementById("measurementValueSelectList");
            
            for (i = 0; i < measurementSelectList.length; i++) 
            { 
                console.log(i);

                var currentMeasurementValue = measurementSelectList.options[i].value;
                var currentMeasurementText = measurementSelectList.options[i].text;
                
                currentMeasurementValue.replace("In","");
                currentMeasurementText.replace("In","");
                currentMeasurementValue.replace("Cm","");
                currentMeasurementText.replace("Cm","");

                // if(currentMeasurementValue.includes("In"))
                // {
                //     currentMeasurementValue.replace("In","");
                // }

                // if(currentMeasurementText.includes("In"))
                // {
                //     currentMeasurementText.replace("In","");
                // }

                var newMeasurementValue = currentMeasurementValue + " " + chosenMeasurementValue;
                var newMeasurementText = currentMeasurementText + " " + chosenMeasurementValue;

                measurementSelectList.options[i].value = newMeasurementValue;
                measurementSelectList.options[i].text = newMeasurementText;
            }
            
            $("#measurementValueSelectList").change();
        });
    });
</script>