<script type="text/javascript">
    $(document).ready(function(){

        const centimetres = "Cm";
        const inches = "In";

        $("[name=measurementTypeRadioButton]").click(function()  {
            var chosenMeasurementValue = $(this).val();
            
            var measurementTypeLabel = "You're measuring using " + chosenMeasurementValue;

            $("#measurementTypeLabel").text(measurementTypeLabel);

            var measurementSelectList = document.getElementById("measurementValueSelectList");

            for (i = 0; i < measurementSelectList.length; i++) 
            { 
                console.log(i);

                var currentMeasurementValue = measurementSelectList.options[i].value;
                var currentMeasurementText = measurementSelectList.options[i].text;

                if(currentMeasurementValue.indexOf(inches) !== -1)
                {
                    console.log("Contains In inside VALUE");
                    currentMeasurementValue = currentMeasurementValue.replace(/In/g,"");
                }
                else if(currentMeasurementValue.indexOf(centimetres) !== -1)
                {
                    console.log("Contains Cm inside VALUE");
                    currentMeasurementValue = currentMeasurementValue.replace(/Cm/g,"");
                }

                if(currentMeasurementText.indexOf(inches) !== -1)
                {
                    console.log("Contains In inside TEXT");
                    currentMeasurementText = currentMeasurementText.replace(/In/g,"");
                }
                else if(currentMeasurementText.indexOf(centimetres) !== -1)
                {
                    console.log("Contains Cm inside TEXT");
                    currentMeasurementText = currentMeasurementText.replace(/Cm/g,"");
                }

                var newMeasurementValue = currentMeasurementValue + " " + chosenMeasurementValue;
                var newMeasurementText = currentMeasurementText + " " + chosenMeasurementValue;

                measurementSelectList.options[i].value = newMeasurementValue;
                measurementSelectList.options[i].text = newMeasurementText;
            }

        });

        $('#measurementValueSelectList').change(function() {
            var currentlySelectedMeasurementValue = $('#measurementValueSelectList option:selected').val();

            console.log("Chosen " + currentlySelectedMeasurementValue);

            var correctProductSize = determineCorrectProductSizeToPurchase(currentlySelectedMeasurementValue);
        });

        function determineCorrectProductSizeToPurchase(inputMeasurementValue)
        {
            if(inputMeasurementValue.indexOf(inches) !== -1)
            {
                console.log("Contains In");
                var strippedInputMeasurementValueInches = inputMeasurementValue.replace(/In/g,"");

                return lookupInchesMeasurement(strippedInputMeasurementValueInches);
            }
            else if(inputMeasurementValue.indexOf(centimetres) !== -1)
            {
                console.log("Contains Cm");
                var strippedInputMeasurementValueCentimetres = inputMeasurementValue.replace(/Cm/g,"");

                return lookupCentimetresMeasurement(strippedInputMeasurementValueCentimetres);
            }
        }

        function lookupCentimetresMeasurement(inputCentimetreValue)
        {

        }

        function lookupInchesMeasurement(inputInchesValue)
        {

        }
    });
</script>