<script type="text/javascript">
    $(document).ready(function(){

        const centimetresKeyword = "Cm";
        const inchesKeyword = "In";
        const sizeXtraSmall = "Size Xtra Small";
        const sizeSmall = "Size Small";
        const sizeMedium = "Size Medium";
        const sizeLarge = "Size Large";

        $("[name=measurementTypeRadioButton]").click(function()  {
            var chosenMeasurementValue = $(this).val();
            
            const measurementTypeLabel = "You're measuring using " + chosenMeasurementValue;

            $("#measurementTypeLabel").text(measurementTypeLabel);

            var measurementSelectList = document.getElementById("measurementValueSelectList");

            for (i = 0; i < measurementSelectList.length; i++) 
            { 
                var currentMeasurementValue = measurementSelectList.options[i].value;
                var currentMeasurementText = measurementSelectList.options[i].text;

                if(currentMeasurementValue.indexOf(inchesKeyword) !== -1)
                {
                    console.log("Contains In inside VALUE");
                    currentMeasurementValue = currentMeasurementValue.replace(/In/g,"");
                }
                else if(currentMeasurementValue.indexOf(centimetresKeyword) !== -1)
                {
                    console.log("Contains Cm inside VALUE");
                    currentMeasurementValue = currentMeasurementValue.replace(/Cm/g,"");
                }

                if(currentMeasurementText.indexOf(inchesKeyword) !== -1)
                {
                    console.log("Contains In inside TEXT");
                    currentMeasurementText = currentMeasurementText.replace(/In/g,"");
                }
                else if(currentMeasurementText.indexOf(centimetresKeyword) !== -1)
                {
                    console.log("Contains Cm inside TEXT");
                    currentMeasurementText = currentMeasurementText.replace(/Cm/g,"");
                }

                var newMeasurementValue = currentMeasurementValue + " " + chosenMeasurementValue;
                var newMeasurementText = currentMeasurementText + " " + chosenMeasurementValue;

                measurementSelectList.options[i].value = newMeasurementValue;
                measurementSelectList.options[i].text = newMeasurementText;
            }

        });

        $('#measurementValueSelectList').change(function() {
            var currentlySelectedMeasurementValue = $('#measurementValueSelectList option:selected').val();

            console.log("Chosen " + currentlySelectedMeasurementValue);

            var correctProductSize = determineCorrectProductSizeToPurchase(currentlySelectedMeasurementValue);

            $("#correctProductSizeLabel").text(correctProductSize);
        });

        function determineCorrectProductSizeToPurchase(inputMeasurementValue)
        {
            if(inputMeasurementValue.indexOf(inchesKeyword) !== -1)
            {
                console.log("Contains In");
                var strippedInputMeasurementValueInches = inputMeasurementValue.replace(/In/g,"");

                return lookupInchesMeasurement(strippedInputMeasurementValueInches);
            }
            else if(inputMeasurementValue.indexOf(centimetresKeyword) !== -1)
            {
                console.log("Contains Cm");
                var strippedInputMeasurementValueCentimetres = inputMeasurementValue.replace(/Cm/g,"");

                return lookupCentimetresMeasurement(strippedInputMeasurementValueCentimetres);
            }
        }

        function lookupCentimetresMeasurement(inputCentimetreValue)
        {
            if (inputCentimetreValue >= 1 && inputCentimetreValue <= 3) {
                return sizeXtraSmall;
            }
            else if (inputCentimetreValue >= 4 && inputCentimetreValue <= 6) {
                return sizeSmall;
            }
            else if (inputCentimetreValue >= 7 && inputCentimetreValue <= 9) {
                return sizeMedium;
            }
            else if (inputCentimetreValue >= 10 && inputCentimetreValue <= 12) {
                return sizeLarge;
            }
        }

        function lookupInchesMeasurement(inputInchesValue)
        {
            if (inputInchesValue >= 1 && inputInchesValue <= 3) {
                return sizeXtraSmall;
            }
            else if (inputInchesValue >= 4 && inputInchesValue <= 6) {
                return sizeSmall;
            }
            else if (inputInchesValue >= 7 && inputInchesValue <= 9) {
                return sizeMedium;
            }
            else if (inputInchesValue >= 10 && inputInchesValue <= 12) {
                return sizeLarge;
            }
        }
    });
</script>