<div class="d-none d-md-block">
    <a href="{{ site.instagramHashtagUrl }}">
        <div class="col-md-6 col-8 mx-auto mt-4 text-center socialMediaHashtagWrapperDesktop">
            <span class="socialMediaHashtagStatement socialMediaHashtagStatementDesktop">Say hello and tag us using</span>
            <span class="socialMediaHashtag socialMediaHashtagDesktop">#lookandpaws</span>
        </div>
    </a>
</div>
  
<div class="d-block d-md-none">
    <a href="{{ site.instagramHashtagUrl }}">
        <div class="col-md-6 col-7 mx-auto mt-4 text-center socialMediaHashtagWrapperMobile">
            <span class="socialMediaHashtagStatement socialMediaHashtagStatementMobile">Say hello and tag us using</span>
            <span class="socialMediaHashtag socialMediaHashtagMobile">#lookandpaws</span>
        </div>
    </a>
</div>