ul.intro-social-buttons > li {
    display: inline;
    margin-left: 20px;
    padding: 0;
}

ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
}

ul.list-inline {
    display: inline;
}