---
title: Look and Paws | How To Keep Your Pet Entertained During Lockdown
layout: default
---

{% include navbar.html %}

<div class="container blogPostContent">

    <div class="row">

      <div class="col-md-8 col-12 mx-auto">

        <h1 class="mt-4 blogPostTitle">{{ site.blogTitleOne}}</h1>
        <p class="lead blogPostWhenAndWho">
            By <i>{{ site.blogAuthoredByOne }}</i>
        </p>
        <hr>
        <p class="blogPostWhenAndWho">Posted on <b>{{ site.blogPostedDateOne }}</b></p>
        <img class="img-fluid rounded" src="{{ site.blogLandscapeImageOne }}" alt="{{ site.blogTitleOne }} by {{ site.blogAuthoredByOne }}">

        <!-- Blog Post Content -->

        <p class="lead mt-4 mb-4">
          Pets, in particular dogs, do not always deal very well with a sudden change in routine. If your four-legged friend is more used to a tranquil home, your constant presence due to working from home can indeed cause your pet to become more stressed and anxious.<br/><br/>Fortunately, we’ve put together a series of steps you can follow, to ensure that things go as smoothly as possible for you and your furry friend during lockdown!
        </p>

        <h3 class="display-4">
          Be aware
          <small class="text-muted">of the triggers</small>
        </h3>

        <p>
          There are a variety of situations that can provoke anxiety in your pets. These range from loud noises such as the use of vacuum cleaners around the house, to the sound of children running around with excitement, and even the introduction of constant sound from a radio or podcast playing throughout the day.
        </p>

        <div class="card mb-3 border-0">
          <div class="row no-gutters">
            <div class="col-md-6">
              <img src="/images/Look_and_Paws_Blog_How_To_Keep_Pet_Entertained_During_Lockdown_2.png" alt="..." class="img-fluid rounded">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-text">
                  <q>By being aware of these triggers, you can work to limit the impact they have on your pets daily schedule.</q>
                </h5>
              </div>
            </div>
          </div>
        </div>

        <img src="/images/Look_and_Paws_Blog_How_To_Keep_Pet_Entertained_During_Lockdown_2.png" alt="..." class="img-thumbnail img-responsive rounded" style="display: block; max-width: 50%; height: auto;">

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.
        </p>

        <div class="card mb-3 border-0">
          <div class="row no-gutters">
            <div class="col-md-6">
              <img src="/images/Look_and_Paws_Blog_How_To_Keep_Pet_Entertained_During_Lockdown_2.png" alt="..." class="img-fluid rounded">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-text">By being aware of these triggers, you can work to limit the impact they have on your pets daily schedule.</h5>
              </div>
            </div>
          </div>
        </div>
        
        <blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
        
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.
        </p>
        

        <!-- Blog Post Content -->

        <hr>

        </div>

    </div>

  </div>

  {% include footer-blog-page.html %}
