---
title: Look and Paws | How To Keep Your Pet Entertained During Lockdown
layout: default
---

{% include navbar.html %}

<!-- Page Content -->
<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-md-8 col-12 mx-auto">

        <h1 class="mt-4 blogPostTitle">{{ site.blogTitleOne}}</h1>

        <p class="lead blogPostWhenAndWho">
            By <i>{{ site.blogAuthoredByOne }}</i>
        </p>

        <hr>

        <p class="blogPostWhenAndWho">Posted on <b>{{ site.blogPostedDateOne }}</b></p>

        <hr>

        <img class="img-fluid rounded" src="{{ site.blogLandscapeImageOne }}" alt="{{ site.blogTitleOne }} by {{ site.blogAuthoredByOne }}">

        <hr>

        <!-- Blog Post Content -->

        <!-- Blog Post Content -->

        <hr>

        </div>

    </div>

  </div>
  <!-- /.container -->

  {% include footer-blog-page.html %}
