---
title: Look and Paws | How To Keep Your Pet Entertained During Lockdown
layout: default
---

{% include navbar.html %}

<div class="container blogPostContent">

    <div class="row">

      <div class="col-md-8 col-12 mx-auto">

        <h1 class="mt-4 blogPostTitle text-center">{{ site.blogTitleOne}}</h1>
        <p class="lead blogPostWhenAndWho">
            By <i>{{ site.blogAuthoredByOne }}</i>
        </p>
        <hr>
        <p class="blogPostWhenAndWho">Posted on <b>{{ site.blogPostedDateOne }}</b></p>
        <img class="img-fluid rounded" src="{{ site.blogLandscapeImageOne }}" alt="{{ site.blogTitleOne }} by {{ site.blogAuthoredByOne }}">

        <!-- Blog Post Content -->

        <p class="lead mt-4">
          
        </p>

        <h3 class="display-4 mt-4">
          This is
          <small class="text-muted">a subtitle</small>
        </h3>

        <p>
          
        </p>

        <div class="card mb-3 border-0">
          <div class="row no-gutters">
            <div class="col-md-6">
              <img src="/images/Look_and_Paws_Blog_How_To_Keep_Pet_Entertained_During_Lockdown_2.png" alt="..." class="img-fluid rounded">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-text">
                  <q>Quoted text goes here.</q>
                </h5>
              </div>
            </div>
          </div>
        </div>

        <!-- Blog Post Content -->

        <hr>

        </div>

    </div>

  </div>

  {% include footer-blog-page.html %}
