---
title: Look and Paws | Keeping Your Pet Calm During Lockdown
layout: default
---

{% include navbar.html %}

<div class="container blogPostContent">

    <div class="row">

      <div class="col-md-8 col-12 mx-auto">

        <h1 class="mt-4 blogPostTitle text-center">{{ site.blogTitleTwo}}</h1>
        <p class="lead blogPostWhenAndWho">
            By <i>{{ site.blogAuthoredByTwo }}</i>
        </p>
        <hr>
        <p class="blogPostWhenAndWho">Posted on <b>{{ site.blogPostedDateTwo }}</b></p>
        <img class="img-fluid rounded" src="{{ site.blogLandscapeImageTwo }}" alt="{{ site.blogTitleTwo }} by {{ site.blogAuthoredByTwo }}">

        <!-- Blog Post Content -->

        <p class="lead mt-4 mb-4">
          Pets, in particular dogs, do not always deal very well with a sudden change in routine. If your four-legged friend is more used to a tranquil home, your constant presence due to working from home can indeed cause your pet to become more stressed and anxious.<br/><br/>Fortunately, we’ve put together a series of steps you can follow, to ensure that things go as smoothly as possible for you and your furry friend during lockdown!
        </p>

        <hr class="hrTagStyle mx-auto" />

        <h3 class="display-4 mt-5 mb-2">
          Be aware
          <small class="text-muted">of the triggers</small>
        </h3>

        <p>
          There are a variety of situations that can provoke anxiety in your pets. These range from loud noises such as the use of vacuum cleaners around the house, to the sound of children running around with excitement, and even the introduction of constant sound from a radio or podcast playing throughout the day.
        </p>

        <div class="card mt-5 mb-3 border-0">
          <div class="row no-gutters">
            <div class="col-md-6">
              <img src="/images/Look_and_Paws_Blog_Keeping_Your_Pet_Calm_During_Lockdown_2.png" alt="..." class="img-fluid rounded">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-text pt-3">
                  <q>By being aware of these triggers, you can work to limit the impact they have on your pets daily schedule.</q>
                </h5>
              </div>
            </div>
          </div>
        </div>

        <h3 class="display-4 mt-5 mb-2">
          Create
          <small class="text-muted">a calm sanctury</small>
        </h3>

        <p>
          Ensure your four-legged friend has a quiet haven to escape to within your home, whether this is a separate room, or perhaps in your garage or back garden. This will help maintain their healthy mindset, and aid in rebuilding their confidence when anxious moments occur.
        </p>

        <div class="col-md-8 mx-auto mt-5 mb-3">
          <img src="/images/Look_and_Paws_Blog_Keeping_Your_Pet_Calm_During_Lockdown_3.jpeg" alt="..." class="img-fluid rounded">
        </div>

        <h3 class="display-4 mt-5 mb-2">
          Eating
          <small class="text-muted">is a distraction</small>
        </h3>

        <p>
          Food is a fantastic way to focus your pets attention on someting other than causing a disturbance to your home working. If you want to be really clever about things, make use of a slow feeder, or alternatively you can prepare a series of kongs, for when an unplanned zoom meeting or phone call occurs.
        </p>

        <div class="col-md-6 mx-auto mt-5 mb-3">
          <img src="/images/Look_and_Paws_Blog_Keeping_Your_Pet_Calm_During_Lockdown_4.jpg" alt="..." class="img-fluid rounded">
        </div>

        <h3 class="display-4 mt-5 mb-2">
          Disable
          <small class="text-muted">your doorbell</small>
        </h3>

        <p>
          Despite the fact that the world is currently in lockdown, deliveries to your home may still be occurring, and there's certainly still a possiblilty that your doorbell might ring (your partner might forget their keys when they had to the supermarke for your essential food shopping).<br/><br/>The key point here is that your doorbell has the potential to upset your pet, especially if they're anxiety is provoked by other factors during their daily schedule.
        </p>

        <h3 class="display-4 mt-5 mb-2">
          Be risk averse
          <small class="text-muted">with noise</small>
        </h3>

        <p>
          In scenarios where you cannot risk the chance of their being any background noise (i.e. conference calls), it’s important to ensure that your pets are the least likely to cause issue. Dogs can be shut away, whereas cats will make more noise if you attempt to close them away, so in that case you need to hope for the best.
        </p>



        <!-- <img src="" alt="..." class="img-thumbnail img-responsive rounded" style="display: block; max-width: 50%; height: auto;"> -->

       
        

        <!-- Blog Post Content -->

        <hr>

        </div>

    </div>

  </div>

  {% include footer-blog-page.html %}
