<!DOCTYPE html>
<html lang="en">
<head>
  {% include scripts-google-analytics.html %}
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="A blog about sassy petwear for bouji floofs">
  <meta name="keywords" content="look and paws blog, lap blog, petwear brand blog, dog brand blog, dog fashion blog, dog clothing blog, dog couture blog, dog boutique blog, pet clothing blog, cat fashion blog, sassy, petwear blog, bouji">
  <meta name="author" content="Look and Paws">
  {% include meta-default.html %}
  {% include favicon.html %}
  {% include stylesheets-default.html %}
</head>
<body>
  {{ content }}
  {% include scripts-default.html %}
  {% include scripts-countdown-timer.html %}
</body>
</html>
