<!DOCTYPE html>
<html lang="en">
<head>
  {% include scripts-google-analytics.html %}
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="The petwear brand, selling sassy petwear for bouji floofs including dogs, cats, rabbits and all furry pets">
  <meta name="keywords" content="look and paws, lap, petwear brand, dog brand, dog fashion, dog clothing, dog couture, dog boutique, pet clothing, cat fashion, sassy, petwear, bouji">
  <meta name="author" content="Look and Paws">
  {% include meta-default.html %}
  {% include favicon.html %}
  {% include stylesheets-default.html %}
</head>
<body class="homePageBody">
  {{ content }}
  {% include scripts-default.html %}
  {% include scripts-countdown-timer.html %}
</body>
</html>
