<!DOCTYPE html>
<html lang="en">
<head>
  {% include scripts-google-analytics.html %}
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="Look and Paws - The leading British Petwear Fashion Brand providing sassy petwear for boujie floofs, including dogs, cats and other furry friends">
  <meta name="keywords" content="look and paws, lookandpaws, lap, petwear brand, dog brand, dog fashion, dog clothing, dog couture, dog boutique, pet clothing, cat fashion, sassy, petwear, boujie">
  <meta name="author" content="Look and Paws">
  {% include meta-default.html %}
  {% include favicon.html %}
  {% include stylesheets-default.html %}
</head>
<body class="homePageBody">
  {{ content }}
  {% include scripts-default.html %}
</body>
</html>
