<!DOCTYPE html>
<html lang="en">
<head>
  {% include scripts-google-analytics.html %}
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta charset="UTF-8">
  <meta name="description" content="The petwear brand, selling sassy petwear for bouji floofs including dogs, cats, rabbits and all furry pets">
  <meta name="keywords" content="look and paws, lap, petwear brand, dog brand, dog fashion, dog clothing, dog couture, dog boutique, pet clothing, cat fashion, sassy, petwear, bouji">
  <meta name="author" content="Look and Paws">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="RaPByAoSddhA59kdfWdXozeweMEIv3BENX3gvoemqbI" />
  <meta name="p:domain_verify" content="4bae9bd4ce37534d7e367a35ab2a5c89"/>
  <link rel="icon" href="{{site.baseurl}}/images/favicon.png">
  {% include stylesheets-default.html %}
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  {{ content }}
  {% include scripts-default.html %}
  {% include scripts-countdown-timer.html %}
</body>
</html>
